@use "./variables" as *;
@use "./mixins" as *;

// SECTION: WHAT-IS-UNDER-THE-SEA--------------------------

// SECTION: NEW-AND-FEATURES---------------------------------
.new-and-feature-img{
        margin-top:30px;
        position:relative;

        img{
            box-shadow:-19px 16px 2px 1px $primary-blue;
        }
    }
    
.new-and-feature-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.5fr 1fr 0.5fr 1fr;
    align-items:center;

    h3{
        margin-top:10%;
    }
}

.nemo-img{
    grid-row:3;
    position:relative;
        
        img{
            box-shadow:-19px 16px 2px 1px $primary-blue;
        }
}

// SECTION: INFO-LINKS----------------------------------------
.info-links-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr);

    img{
        width: 50px;
        height:50px;
        filter:$svg-filter;
        margin-top:30px;
        transition:all 0.5s;

        &:hover, :focus{
            filter:$socials-filter;
        }
        &:active{
            filter:$active-svg-filter;
        }
    }
}
.in-touch p{
    margin-bottom:30px;
}

// SECTION: THIS-MONTH---------------------------------------
.this-month-img{
    position:relative;

    img{
        box-shadow:-20px 24px 2px 1px $primary-blue;
    }
}

// SECTION:CAROUSEL------------------------------------------
.carousel{
    background-color:$primary-green;
    min-height:25vh;

    .carousel-container{
        display:flex;
    } 
    .carousel-images{
        width:100%;
        margin-top:2.5vh;
    }
    .next-button, .prev-button{
        margin-top: 10vh;
    }
    .next-button{
        rotate:180deg;
    }
    .carousel-button{
        position: relative;
    }

    ul{
        padding:0;
        margin:0;
        list-style:none;
        position:relative;
    }
    button{
        height: 30px;
        width: 30px;

        img{
            position:absolute;
            top:0;
            left:0;
        }
    }
    li{
        position:absolute;
        top:0;
    }
}