@use "./variables" as *;
@use "./mixins" as *;

// SECTION: WHAT-IS-UNDER-THE-SEA--------------------------

// SECTION: NEW-AND-FEATURES---------------------------------
.new-and-feature-img{
        margin-top:30px;
        position:relative;

        img{
            box-shadow:-19px 16px 2px 1px $primary-blue;
        }
    }
    
.new-and-feature-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.5fr 1fr 0.5fr 1fr;
    align-items:center;

    h3{
        margin-top:10%;
    }
}

.nemo-img{
    grid-row:3;
    position:relative;
        
        img{
            box-shadow:-19px 16px 2px 1px $primary-blue;
        }
}

// SECTION: INFO-LINKS----------------------------------------
.info-links-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr);

    img{
        width: 50px;
        height:50px;
        filter:$svg-filter;
        margin-top:30px;
        transition:all 0.5s;

        &:hover, :focus{
            filter:$socials-filter;
        }
        &:active{
            filter:$active-svg-filter;
        }
    }
}
.in-touch p{
    margin-bottom:30px;
}

// SECTION: THIS-MONTH---------------------------------------
.this-month-img{
    position:relative;

    img{
        box-shadow:-20px 24px 2px 1px $primary-blue;
    }
}

// SECTION: FINAL-GALLERY------------------------------------
.gallery-container{
    display:flex;
    flex-direction:column;
}
.gallery-one{
    margin-top:30px
}

.gallery-two{
    margin:15px 0px 15px 0px
}

.gallery-three{
    margin-bottom:30px;
}