@use "./variables" as *;
@use "./mixins" as *;

header{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/home-box-header-two.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:60vh;
    margin-bottom:-35px;
    padding-top:1%;
}

.mobile-nav-bar{
    margin-top:-15px;
    position:fixed;
    z-index: 100;
    top:25px;
    right:10px;

    li{
        list-style-type:none;
        font-family:$primary-font-family;
        font-size:calc(1.5 * $body-text-font-size);
        text-align:right;
        margin:0px 20px 0px 0px;
    }
    a{
        color:$primary-white;
    }
}

.bar{
    display:block;
    background-color:$primary-white;
    width:30px;
    height:5px;
    margin:5px auto;
    transition:all 0.5s;
    cursor: pointer;
}

.hamburger.active :nth-child(1){
    transform:translateY(6px) rotate(45deg);
}

.hamburger.active :nth-child(2){
    display:none;
}

.hamburger.active :nth-child(3){
    transform:translateY(-4px) rotate(-45deg);
}

.desktop-nav-bar{
    background-color:$primary-blue;
    width:100%;
    position:fixed;
    z-index: 100;
    top:50px;
    left:-100%;
    transition:all 1s;

        ul{
            @include flex-container;
            list-style-type:none;
            justify-content: center;
        }
        li{
            font-family:$primary-font-family;
            font-weight:$primary-font-weight;
            text-transform:uppercase;
            font-size:$body-text-font-size;
            text-align:right;
            margin:10px 30px 10px 0px;
        }
        a{
            text-decoration:none;
            color:$primary-white;
            transition:all 0.5s;

            &:hover, :focus{
                color:$secondary-blue;
                }
        }
}
.desktop-nav-bar.active{
    left:0%;
}
    
h1{
    text-transform:uppercase;
    color:$primary-white;
    font-size:$h-one-font-size-m;
    line-height:$h-one-line-height-m;
    font-family:$primary-font-family;
    font-weight:$h-one-font-weight;
    text-align:center;
    margin-top:50%;
}