@use "./variables" as *;

// NAV BAR--------------------------------------------------------
@media (min-width:1px) and (max-width:767px){
    .pop-out-header, .banner{
        display:none;
    }
}

@media (min-width:440px){
    h1{
        margin-top:40%;
    }
}

@media (min-width: 600px){
    h1{
        margin-top:30%;
    }
}
// ********************************TABLET VERTICAL**************************************************
@media (min-width:768px){
    // GENERAL-----------------------------------------------------------
    .mobile-nav-bar{
        display:none;
    }
    .pop-out-header, .banner{
        display:show;
    }
    h1{
        margin-top:20%;
        margin-left:5%;
        width:30%;
    }
    h2{
        line-height:$h-two-line-height;
    }
    .find-out-more{
        margin:30px 0px 45px 0px;
    }
    .read-more{
        margin-bottom:-30px;
    }
    // HEADER------------------------------------------------------------
    header{
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/header-image.jpg);
        background-size:cover;
        height:70vh;
        position:relative;
    }
     .desktop-nav-bar{
        position:static;
        background:none;
        margin-top:-20px;

        ul{
            flex-direction:row;
            justify-content:flex-end;
        }
        li{
            margin:0px 30px 0px 0px;
        }
     }
     .header-container{
        display:flex;
        justify-content:flex-start;
        align-items:center;
     }     
    .pop-out-header{
        position:absolute;
        top:360px;
        right:-360px;

        img{
            width:60%;
        }
    }

    // BODY-----------------------------------------------------------
    // SECTION: WHAT-IS-----------------------------------------------
    .what-is{
        h2{
            margin-top:200px;
        }
    }

    // SECTION: NEW-AND-FEATURE---------------------------------------
    .new-and-feature-container{
        h3{
            margin-top:-10%;
        }
    }
    .new-and-feature-img{
        margin-top:60px;
        position:relative;

        img{
            box-shadow:-30px 35px 2px 1px $primary-blue;
        }
    }
    .nemo-img{
        position:relative;
        
        img{
            box-shadow:-30px 35px 2px 1px $primary-blue;
        }
    }

    //SECTION: INFO-LINKS---------------------------------
    .locations-svg{
        margin-top:30px;
    } 


    // SECTION: THIS-MONTH--------------------------------
    .this-month-img{
        width:80%;
    }

    // SECTION: FINAL-GALLERY-----------------------------
    .gallery-container{
        flex-direction:row;
    }
    .gallery-one, .gallery-two, .gallery-three{
        margin:30px 0px 30px 0px;
    }
}

// ********************************TABLET HORIZONTAL**************************************************
@media (min-width:1024px){
    // GENERAL------------------------------------------------------
    .flex-start-container{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
    }
    .flex-end-container{
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        text-align:right;
    }
    // HEADER-------------------------------------------------------
    header{
        height:80vh;
    }
    .desktop-nav-bar{
        ul{
            margin-right:8%;
        }
    }
    h1{
        font-size:$h-one-font-size;
        line-height:$h-one-line-height;
        margin-top:10%;
    }
    .pop-out-header{
        top:300px;
        right:-180px;

        img{
            width:80%;
        }
    }

    // SECTION: WHAT-IS----------------------------------------------
    .what-is h2{
        margin-top:150px;
    }

    // SECTION: NEW-AND-FEATURE--------------------------------------
    .new-and-feature-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
        gap:1rem;

        h3{
            margin-top:0%;
        }

        .read-more{
            margin-bottom:5%;
        }
    }
    .new-and-feature-img{
        img{
            box-shadow:30px 35px 2px 1px $primary-blue;
            position:absolute;
            top:-216px;
            left:-102px;
        }
    }
    .nemo-img{
        grid-row:2;
        grid-column:2;

        img{
            box-shadow:-30px 35px 2px 1px $primary-blue;
            position:absolute;
            top:-97px;
            right:-102px;
        }
    }
    // SECTION: INFO-LINKS-------------------------------------------
    .info-links-container{
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
        gap:2rem;
    }
    .community-svg{
        margin-top:30px;
    }
// SECTION:BANNER---------------------------------------
    .banner{
        background-image:url(../../assets/banner.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
        height:40vh;
    }
    // SECTION: THIS-MONTH--------------------------------------------
    .desktop-container{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        position:relative;

        .this-month-right{
            grid-column:span 2;
        }
    }
    .this-month-img{
        img{
            top:0px;
            right:10px;
        }
    }
    .this-month{
        h2{
            margin-bottom:0px;
        }
    }

    // SECTION: FINAL-GALLYERY----------------------------------------
    .gallery-container{
        img{
            width:90%;
        }
    }
}
// *********************************LAPTOP**********************************************************
@media (min-width:1200px){
// GENERAL-------------------------------------------------------------
// HEADER--------------------------------------------------------------
    header{
        height:60vh;
    }
    h1{
        margin-top:5%
    }
    .pop-out-header{
        top:120px;
        right:-180px;
    }
// SECTION:WHAT-IS------------------------------------------------------
    .what-is{
        .find-out-more{
            margin-bottom:90px;
        }
    }
// SECTION: NEW-AND-FEATURE---------------------------------------------
    .new-and-feature{
        h3{
            margin-top:5%;
        }
    }
    .new-and-feature-img{
        img{
            top:-214px;
            left:-120px;
        }
    }
    .nemo-img{
        img{
            top:-144px;
            right:-120px;
        }
    }
    .blue-block-two{
        top:80px;
        left:80px;
    }
// SECTION:INFO-AND-LINKS-------------------------------
    .info-links-container{
        margin-left:13%;
    }
    .desktop-info-links{
        flex-direction:row;
        position:relative;
        
        h3{
            text-align:left;
        }
    }
    .locations-svg, .community-svg{
        margin-top:0px;
    }
    .locations, .community{
        margin-top:100px;
        width:90%
    }
    .blog, .in-touch{
        width:90%;
    }
    .locations-svg, .community-svg, .blog-svg, .in-touch-svg{
        margin-bottom:100px;
        position:absolute;
        top:25px;
        left:-60px;
    }
    .locations-svg, .community-svg{
        top:75px;
    }

// SECTION: THIS-MONTH----------------------------------
    .this-month-img{
        img{
            right:30px;
        }
    }
}
// **************************1920px DESKTOP****************************************************
@media (min-width:1920px){
// HEADER-----------------------------------------------
    header{
        height:70vh;
    }
    .desktop-nav-bar{
        ul{
            margin-right:15%;
        }
        li{
            margin-left:50px;
            margin-right:50px;
        }
    }
    h1{
        width:13%;
        margin-left:20%;
    }
    .pop-out-header{
        top:90px;
        right:0px;

        img{
            width:100%;
        }
    }
// SECTION:WHAT-IS-------------------------------------------
    .what-is{
        h2{
            margin-top:200px;
        }
    }
// SECTION:NEW-AND-FEATURE-----------------------------------
    .new-and-feature{
        h3{
            margin-top:15%;
        }
    }
    .new-and-feature-container{
        .read-more{
            margin-bottom:15%;
        }
    }
    .new-and-feature-img{
        margin-bottom:-85px;

        img{
            top:-331px;
            left:-192px;
        }
    }
    .nemo-img{
        margin-bottom:-30px;

        img{
            top:-264px;
            right:-192px;
        }
    }
// SECTION:INFO-LINKS-------------------------------------------
    .locations-svg, .community-svg{
        margin-top:100px;
    }
    .locations-svg, .community-svg{
        top:-20px
    }
    .blog-svg{
        top:10px;
    }
    .in-touch-svg{
        top:25px;
    }
// SECTION:THIS-MONTH-------------------------------------------
    .this-month-img{
        img{
            width:70%;
            right:-100px;
        }
    }

// SECTION:FINAL-GALLERY-----------------------------------------
    .gallery-container{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        gap:1rem;

        img{
            width:100%
        }
    }
}
