// NAV BAR--------------------------------------------------------
@media (min-width:1px){
    .desktop-nav-bar, .pop-out-header, .banner{
        display:none;
    }
}
@media (min-width:768px){
    .mobile-nav-bar{
        display:none;
    }
    .pop-out-header, .banner{
        display:show;
    }
}