html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../../assets/home-box-header-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  margin-bottom: -35px;
}

.mobile-nav-bar {
  margin-top: -20px;
}
.mobile-nav-bar li {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin: 0px 20px 0px 0px;
}
.mobile-nav-bar a {
  color: #FFFFFF;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 4.5rem;
  line-height: 90px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 50%;
}

.wrapper {
  max-width: 1620px;
  width: 80%;
  margin: 0 auto;
}

.what-is, .info-links, .this-month {
  background-color: #0C1423;
}

.new-and-feature, .final-gallery {
  background-color: #0F614E;
}

h2 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 2.1rem;
  line-height: 60px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px;
  text-align: center;
}

.find-out-more {
  color: black;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #86E0F9;
  text-decoration: none;
  border: 2px solid #86E0F9;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
}

.read-more {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  background-color: black;
  text-decoration: none;
  border: 2px solid black;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
}

p {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.new-and-feature-img {
  margin-top: 30px;
}

.new-and-feature-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  align-items: center;
}

.nemo-img {
  grid-row: 3;
}

.info-links-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.info-links-container img {
  width: 50px;
  height: 50px;
  filter: invert(82%) sepia(39%) saturate(1350%) hue-rotate(170deg) brightness(108%) contrast(95%);
  margin-top: 30px;
}

.in-touch p {
  margin-bottom: 30px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-one {
  margin-top: 30px;
}

.gallery-two {
  margin: 15px 0px 15px 0px;
}

.gallery-three {
  margin-bottom: 30px;
}

footer p {
  color: black;
  text-align: center;
}

@media (min-width: 1px) and (max-width: 767px) {
  .desktop-nav-bar, .pop-out-header, .banner, .blue-block-one, .blue-block-two {
    display: none;
  }
}
@media (min-width: 440px) {
  h1 {
    margin-top: 40%;
  }
}
@media (min-width: 600px) {
  h1 {
    margin-top: 30%;
  }
}
@media (min-width: 768px) {
  .mobile-nav-bar {
    display: none;
  }
  .pop-out-header, .banner {
    display: show;
  }
  h1 {
    margin-top: 25%;
    margin-left: 30px;
    width: 30%;
  }
  h2 {
    line-height: 92px;
  }
  .find-out-more {
    margin: 30px 0px 45px 0px;
  }
  .read-more {
    margin-bottom: -30px;
  }
  header {
    background-image: url(../../assets/header-image.jpg);
    height: 70vh;
    position: relative;
  }
  .desktop-nav-bar {
    margin-top: -20px;
  }
  .desktop-nav-bar ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
  .desktop-nav-bar li {
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    text-align: right;
    margin: 0px 30px 0px 0px;
  }
  .desktop-nav-bar a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pop-out-header {
    position: absolute;
    top: 360px;
    right: -360px;
  }
  .pop-out-header img {
    width: 60%;
  }
  .what-is h2 {
    margin-top: 200px;
  }
  .new-and-feature-img {
    margin-top: 60px;
    position: relative;
  }
  .new-and-feature-img img {
    z-index: 100;
    position: relative;
  }
  .blue-block-one, .blue-block-two {
    background-color: #86E0F9;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 20px;
    right: -40px;
  }
  .nemo-img {
    position: relative;
  }
  .nemo-img img {
    position: relative;
    z-index: 100;
  }
  .locations-svg {
    margin-top: 30px;
  }
  .this-month-img {
    width: 80%;
  }
  .gallery-container {
    flex-direction: row;
  }
  .gallery-one, .gallery-two, .gallery-three {
    margin: 30px 0px 30px 0px;
  }
}
html {
  font-size: 125%;
}/*# sourceMappingURL=styles.css.map */