html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/home-box-header-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  margin-bottom: -35px;
  padding-top: 1%;
}

.mobile-nav-bar {
  margin-top: -20px;
}
.mobile-nav-bar li {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin: 0px 20px 0px 0px;
}
.mobile-nav-bar a {
  color: #FFFFFF;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 4.5rem;
  line-height: 90px;
  font-family: "Barlow", sans-serif;
  font-weight: 700px;
  text-align: center;
  margin-top: 50%;
}

.wrapper {
  max-width: 1620px;
  width: 80%;
  margin: 0 auto;
}

.what-is, .info-links, .this-month {
  background-color: #0C1423;
}

.new-and-feature, .final-gallery {
  background-color: #0F614E;
}

h2 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 2.1rem;
  line-height: 60px;
  font-family: "Barlow", sans-serif;
  font-weight: 600px;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600px;
  letter-spacing: 1px;
  margin: 10px;
  text-align: center;
}

.find-out-more {
  color: black;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600px;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #86E0F9;
  text-decoration: none;
  border: 2px solid #86E0F9;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.read-more {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600px;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  background-color: black;
  text-decoration: none;
  border: 2px solid black;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

p {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.new-and-feature-img {
  margin-top: 30px;
  position: relative;
}
.new-and-feature-img img {
  z-index: 100;
  position: relative;
}

.new-and-feature-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  align-items: center;
}
.new-and-feature-container h3 {
  margin-top: 10%;
}

.nemo-img {
  grid-row: 3;
  position: relative;
}
.nemo-img img {
  position: relative;
  z-index: 100;
}

.blue-block-one, .blue-block-two {
  background-color: #86E0F9;
  width: 100%;
  height: 95%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.info-links-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.info-links-container img {
  width: 50px;
  height: 50px;
  filter: invert(82%) sepia(39%) saturate(1350%) hue-rotate(170deg) brightness(108%) contrast(95%);
  margin-top: 30px;
}

.in-touch p {
  margin-bottom: 30px;
}

.this-month-img {
  position: relative;
}
.this-month-img img {
  z-index: 100;
  position: relative;
}

.blue-block-three {
  background-color: #86E0F9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-one {
  margin-top: 30px;
}

.gallery-two {
  margin: 15px 0px 15px 0px;
}

.gallery-three {
  margin-bottom: 30px;
}

footer {
  background-color: #86E0F9;
}
footer p {
  color: black;
  text-align: center;
  margin: 0px;
}

.blog-body {
  background-color: #0C1423;
}

.post-header-imgs {
  display: none;
}

.article-blog {
  margin-top: 20%;
}
.article-blog h3 {
  margin-top: 20%;
}
.article-blog li {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
}

.article-about {
  border-right: 5px solid #0F614E;
  border-bottom: 5px solid #0F614E;
}

.mobile-side-blog-img {
  margin-top: 20%;
}
.mobile-side-blog-img img {
  box-shadow: 12px 12px 2px 1px #0F614E;
}

.recent-posts {
  border-right: 5px solid #0F614E;
  border-bottom: 5px solid #0F614E;
}

.mobile-blog-post-img img {
  box-shadow: -12px 12px 2px 1px #86E0F9;
}

.right-blog {
  margin-top: 20%;
}
.right-blog h2 {
  margin-top: 20%;
}
.right-blog .blog-format-desktop {
  display: none;
}

.author {
  text-align: center;
}

.blog-border {
  padding-left: 5px;
  border-left: 5px solid #86E0F9;
  border-bottom: 5px solid #86E0F9;
}

.comments {
  margin-top: 20%;
  border-bottom: 5px solid #86E0F9;
}

.commentor {
  text-align: center;
}

.add-comment {
  margin-top: 20%;
  margin-bottom: 20%;
}

::-moz-placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

::placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

#user-name, #user-email, #user-comment {
  border: none;
  height: 2rem;
  width: 100%;
  margin-bottom: 5%;
  background-color: #0C1423;
  border-bottom: 3px solid #86E0F9;
}

#user-comment {
  height: 10rem;
  border: 3px solid #86E0F9;
}

.post-comment {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600px;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #0F614E;
  border: 2px solid #0F614E;
  width: 100%;
  height: 2rem;
}

@media (min-width: 1px) and (max-width: 767px) {
  .desktop-nav-bar, .pop-out-header, .banner {
    display: none;
  }
}
@media (min-width: 440px) {
  h1 {
    margin-top: 40%;
  }
}
@media (min-width: 600px) {
  h1 {
    margin-top: 30%;
  }
}
@media (min-width: 768px) {
  .mobile-nav-bar {
    display: none;
  }
  .pop-out-header, .banner {
    display: show;
  }
  h1 {
    margin-top: 20%;
    margin-left: 5%;
    width: 30%;
  }
  h2 {
    line-height: 92px;
  }
  .find-out-more {
    margin: 30px 0px 45px 0px;
  }
  .read-more {
    margin-bottom: -30px;
  }
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/header-image.jpg);
    background-size: cover;
    height: 70vh;
    position: relative;
  }
  .desktop-nav-bar {
    margin-top: -20px;
  }
  .desktop-nav-bar ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
  .desktop-nav-bar li {
    font-family: "Barlow", sans-serif;
    font-weight: 600px;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: right;
    margin: 0px 30px 0px 0px;
  }
  .desktop-nav-bar a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pop-out-header {
    position: absolute;
    top: 360px;
    right: -360px;
  }
  .pop-out-header img {
    width: 60%;
  }
  .what-is h2 {
    margin-top: 200px;
  }
  .new-and-feature-container h3 {
    margin-top: -10%;
  }
  .new-and-feature-img {
    margin-top: 60px;
    position: relative;
  }
  .new-and-feature-img img {
    z-index: 100;
    position: relative;
  }
  .blue-block-one, .blue-block-two {
    top: 40px;
  }
  .nemo-img {
    position: relative;
  }
  .nemo-img img {
    position: relative;
    z-index: 100;
  }
  .locations-svg {
    margin-top: 30px;
  }
  .this-month-img {
    width: 80%;
  }
  .gallery-container {
    flex-direction: row;
  }
  .gallery-one, .gallery-two, .gallery-three {
    margin: 30px 0px 30px 0px;
  }
}
@media (min-width: 1024px) {
  .flex-start-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-end-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  header {
    height: 80vh;
  }
  .desktop-nav-bar ul {
    margin-right: 8%;
  }
  .desktop-nav-bar li {
    font-size: 1rem;
  }
  h1 {
    font-size: 6.9rem;
    line-height: 126px;
    margin-top: 10%;
  }
  .pop-out-header {
    top: 300px;
    right: -180px;
  }
  .pop-out-header img {
    width: 80%;
  }
  .what-is h2 {
    margin-top: 150px;
  }
  .new-and-feature-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .new-and-feature-container h3 {
    margin-top: 0%;
  }
  .new-and-feature-container .read-more {
    margin-bottom: 5%;
  }
  .nemo-img {
    grid-row: 2;
    grid-column: 2;
  }
  .nemo-img img {
    top: 34px;
    right: -102px;
  }
  .new-and-feature-img img {
    top: -90px;
    left: -103px;
  }
  .blue-block-one {
    top: -60px;
    left: -80px;
  }
  .blue-block-two {
    top: 70px;
    left: 70px;
  }
  .info-links-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .community-svg {
    margin-top: 30px;
  }
  .banner {
    background-image: url(../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
  .desktop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }
  .desktop-container .this-month-right {
    grid-column: span 2;
  }
  .this-month-img img {
    top: 0px;
    right: 10px;
  }
  .blue-block-three {
    right: 40px;
  }
  .this-month h2 {
    margin-bottom: 0px;
  }
  .gallery-container img {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  header {
    height: 60vh;
  }
  h1 {
    margin-top: 5%;
  }
  .pop-out-header {
    top: 120px;
    right: -180px;
  }
  .what-is .find-out-more {
    margin-bottom: 90px;
  }
  .new-and-feature-img img {
    top: -100px;
    left: -120px;
  }
  .blue-block-one {
    top: -60px;
    left: -90px;
  }
  .blue-block-two {
    top: 30px;
  }
  .nemo-img img {
    top: 35px;
    right: -120px;
  }
  .blue-block-two {
    top: 80px;
    left: 80px;
  }
  .info-links-container {
    margin-left: 13%;
  }
  .desktop-info-links {
    flex-direction: row;
    position: relative;
  }
  .desktop-info-links h3 {
    text-align: left;
  }
  .locations-svg, .community-svg {
    margin-top: 0px;
  }
  .locations, .community {
    margin-top: 100px;
    width: 90%;
  }
  .blog, .in-touch {
    width: 90%;
  }
  .locations-svg, .community-svg, .blog-svg, .in-touch-svg {
    margin-bottom: 100px;
    position: absolute;
    top: 25px;
    left: -60px;
  }
  .locations-svg, .community-svg {
    top: 75px;
  }
  .this-month-img img {
    right: 30px;
  }
  .blue-block-three {
    right: 0px;
  }
}
@media (min-width: 1920px) {
  header {
    height: 70vh;
  }
  .desktop-nav-bar ul {
    margin-right: 15%;
  }
  .desktop-nav-bar li {
    margin-left: 50px;
    margin-right: 50px;
  }
  h1 {
    width: 13%;
    margin-left: 20%;
  }
  .pop-out-header {
    top: 90px;
    right: 0px;
  }
  .pop-out-header img {
    width: 100%;
  }
  .what-is h2 {
    margin-top: 200px;
  }
  .new-and-feature-img {
    margin-bottom: -85px;
  }
  .new-and-feature-img img {
    top: -110px;
    left: -192px;
  }
  .blue-block-one {
    top: -60px;
    left: -150px;
  }
  .nemo-img {
    margin-bottom: -30px;
  }
  .nemo-img img {
    top: -23px;
    right: -192px;
  }
  .blue-block-two {
    top: 40px;
    left: 140px;
  }
  .locations-svg, .community-svg {
    margin-top: 100px;
  }
  .locations-svg, .community-svg {
    top: -20px;
  }
  .blog-svg {
    top: 10px;
  }
  .in-touch-svg {
    top: 25px;
  }
  .this-month-img img {
    width: 70%;
    right: -100px;
  }
  .blue-block-three {
    width: 70%;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .gallery-container img {
    width: 100%;
  }
}
html {
  font-size: 125%;
}/*# sourceMappingURL=styles.css.map */