html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.wrapper {
  max-width: 1620px;
  width: 80%;
  margin: 0 auto;
}

.what-is, .info-links, .this-month {
  background-color: #0C1423;
}

.new-and-feature, .final-gallery {
  background-color: #0F614E;
}

h2 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 2.1rem;
  line-height: 60px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px;
  text-align: center;
}

.find-out-more {
  color: black;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #86E0F9;
  text-decoration: none;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 4px;
  transition: all 0.5s;
}
.find-out-more:hover, .find-out-more :focus {
  background-color: #0dc1f3;
}
.find-out-more:active {
  color: #86E0F9;
  background-color: black;
  border: 2px solid #86E0F9;
}

.read-more {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  background-color: black;
  text-decoration: none;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 4px;
  transition: all 0.5s;
}
.read-more:hover, .read-more :focus {
  background-color: gray;
}
.read-more:active {
  color: black;
  background-color: #FFFFFF;
  border: 2px solid black;
}

p {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.blog-background, .contact-background {
  background-color: #0C1423;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/home-box-header-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  margin-bottom: -35px;
  padding-top: 1%;
}

.mobile-nav-bar {
  margin-top: -15px;
  position: fixed;
  z-index: 100;
  top: 25px;
  right: 10px;
}
.mobile-nav-bar li {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin: 0px 20px 0px 0px;
}
.mobile-nav-bar a {
  color: #FFFFFF;
}

.bar {
  display: block;
  background-color: #FFFFFF;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.5s;
  cursor: pointer;
}

.hamburger.active :nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active :nth-child(2) {
  display: none;
}

.hamburger.active :nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

.desktop-nav-bar {
  background-color: #86E0F9;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 50px;
  left: -100%;
  transition: all 1s;
}
.desktop-nav-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}
.desktop-nav-bar li {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: right;
  margin: 10px 30px 10px 0px;
}
.desktop-nav-bar a {
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.5s;
}
.desktop-nav-bar a:hover, .desktop-nav-bar a :focus {
  color: #0C1423;
}

.desktop-nav-bar.active {
  left: 0%;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 4.5rem;
  line-height: 90px;
  font-family: "Barlow", sans-serif;
  font-weight: 700px;
  text-align: center;
  margin-top: 50%;
}

.new-and-feature-img {
  margin-top: 30px;
  position: relative;
}
.new-and-feature-img img {
  box-shadow: -19px 16px 2px 1px #86E0F9;
}

.new-and-feature-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  align-items: center;
}
.new-and-feature-container h3 {
  margin-top: 10%;
}

.nemo-img {
  grid-row: 3;
  position: relative;
}
.nemo-img img {
  box-shadow: -19px 16px 2px 1px #86E0F9;
}

.info-links-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.info-links-container img {
  width: 50px;
  height: 50px;
  filter: invert(82%) sepia(39%) saturate(1350%) hue-rotate(170deg) brightness(108%) contrast(95%);
  margin-top: 30px;
  transition: all 0.5s;
}
.info-links-container img:hover, .info-links-container img :focus {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(234deg) brightness(106%) contrast(101%);
}
.info-links-container img:active {
  filter: invert(28%) sepia(75%) saturate(432%) hue-rotate(116deg) brightness(92%) contrast(96%);
}

.in-touch p {
  margin-bottom: 30px;
}

.this-month-img {
  position: relative;
}
.this-month-img img {
  box-shadow: -20px 24px 2px 1px #86E0F9;
}

.carousel-gallery {
  background-color: #0F614E;
  position: relative;
}
.carousel-gallery .carousel {
  height: 30vh;
  overflow: hidden;
}
.carousel-gallery .track {
  height: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 7%;
}
.carousel-gallery .slide {
  width: 100%;
  height: 26vh;
  position: absolute;
  transition: all 0.5s;
}
.carousel-gallery .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel-gallery .carousel-button {
  position: absolute;
  z-index: 10;
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: #0C1423;
  color: #FFFFFF;
  cursor: pointer;
}
.carousel-gallery .carousel-button:hover, .carousel-gallery .carousel-button :focus {
  background-color: gray;
}
.carousel-gallery .carousel-button:active {
  color: black;
  background-color: #FFFFFF;
  border: 2px solid black;
}
.carousel-gallery .next-button {
  right: 4%;
}
.carousel-gallery .prev-button {
  left: 4%;
}

footer {
  background-color: #86E0F9;
}
footer p {
  color: black;
  text-align: center;
  margin: 0px;
}

.post-header-imgs {
  display: none;
}

.article-blog {
  margin-top: 20%;
}
.article-blog h3 {
  margin-top: 20%;
}
.article-blog li {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
}

.article-about {
  border-right: 5px solid #0F614E;
  border-bottom: 5px solid #0F614E;
}

.mobile-side-blog-img {
  margin-top: 20%;
}
.mobile-side-blog-img img {
  box-shadow: 12px 12px 2px 1px #0F614E;
}

.recent-posts {
  border-right: 5px solid #0F614E;
  border-bottom: 5px solid #0F614E;
}

.mobile-blog-post-img img {
  box-shadow: -12px 12px 2px 1px #86E0F9;
}

.right-blog {
  margin-top: 20%;
}
.right-blog h2 {
  margin-top: 20%;
}
.right-blog .blog-format-desktop {
  display: none;
}

.author {
  text-align: center;
}

.blog-border {
  padding-left: 5px;
  border-left: 5px solid #86E0F9;
  border-bottom: 5px solid #86E0F9;
}

.comment-one, .comment-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  margin-top: 20%;
  border-bottom: 5px solid #86E0F9;
}

.commentor {
  text-align: center;
}

.add-comment {
  margin-top: 20%;
  margin-bottom: 20%;
}

::-moz-placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

::placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

#user-name, #user-email, #user-comment {
  border: none;
  height: 2rem;
  width: 100%;
  margin-bottom: 5%;
  background-color: #0C1423;
  border-bottom: 3px solid #86E0F9;
  transition: all 0.5s;
}
#user-name:hover, #user-name :focus, #user-email:hover, #user-email :focus, #user-comment:hover, #user-comment :focus {
  border-bottom: 3px solid #0F614E;
}

#user-comment {
  height: 10rem;
  border: 3px solid #86E0F9;
  transition: all 0.5s;
}
#user-comment:hover, #user-comment :focus {
  border: 3px solid #0F614E;
}

.post-comment {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  height: 2rem;
  transition: all 0.5s;
  border: none;
  background-color: #0F614E;
}
.post-comment:hover, .post-comment :focus {
  background-color: #19a383;
}
.post-comment:active {
  color: #0F614E;
  background-color: #FFFFFF;
  border: 2px solid #0F614E;
}

.contact-body {
  margin-top: 30%;
}
.contact-body p {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}
.social-links img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(234deg) brightness(106%) contrast(101%);
  width: 2rem;
  transition: all 0.5s;
}
.social-links img:hover, .social-links img :focus {
  filter: invert(82%) sepia(39%) saturate(1350%) hue-rotate(170deg) brightness(108%) contrast(95%);
}
.social-links img:active {
  filter: invert(28%) sepia(75%) saturate(432%) hue-rotate(116deg) brightness(92%) contrast(96%);
}

#contact {
  border-left: 5px solid #0F614E;
  border-bottom: 5px solid #0F614E;
}
#contact h2 {
  font-size: 1.491rem;
}

.contact-form {
  margin-top: 30%;
  margin-bottom: 30%;
}
.contact-form #user-name:hover, .contact-form #user-name :focus, .contact-form #user-email:hover, .contact-form #user-email :focus {
  border-bottom: 3px solid #0C1423;
}

#user-message {
  border: none;
  height: 2rem;
  width: 100%;
  margin-bottom: 5%;
  background-color: #0C1423;
  border-bottom: 3px solid #86E0F9;
  transition: all 0.5s;
  height: 10rem;
  border: 3px solid #86E0F9;
  transition: all 0.5s;
}
#user-message:hover, #user-message :focus {
  border: 3px solid #0C1423;
}

.send-message {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  height: 2rem;
  transition: all 0.5s;
  border: none;
  background-color: black;
  border: 2px solid black;
  margin-top: 5%;
}
.send-message:hover, .send-message :focus {
  background-color: gray;
}
.send-message:active {
  color: black;
  background-color: #FFFFFF;
  border: 2px solid black;
}

@media (min-width: 1px) and (max-width: 767px) {
  .pop-out-header, .banner, .final-gallery {
    display: none;
  }
}
@media (min-width: 440px) {
  h1 {
    margin-top: 40%;
  }
}
@media (min-width: 600px) {
  h1 {
    margin-top: 30%;
  }
}
@media (min-width: 768px) {
  .mobile-nav-bar, .carousel-gallery {
    display: none;
  }
  .pop-out-header, .banner {
    display: show;
  }
  h1 {
    margin-top: 20%;
    margin-left: 5%;
    width: 30%;
  }
  h2 {
    line-height: 92px;
  }
  .find-out-more {
    margin: 30px 0px 45px 0px;
  }
  .read-more {
    margin-bottom: -30px;
  }
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/header-image.jpg);
    background-size: cover;
    height: 70vh;
    position: relative;
  }
  .desktop-nav-bar {
    position: static;
    background: none;
    margin-top: -20px;
  }
  .desktop-nav-bar ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  .desktop-nav-bar li {
    margin: 0px 30px 0px 0px;
  }
  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pop-out-header {
    position: absolute;
    top: 360px;
    right: -360px;
  }
  .pop-out-header img {
    width: 60%;
  }
  .what-is h2 {
    margin-top: 200px;
  }
  .new-and-feature-container h3 {
    margin-top: -10%;
  }
  .new-and-feature-img {
    margin-top: 60px;
    position: relative;
  }
  .new-and-feature-img img {
    box-shadow: -30px 35px 2px 1px #86E0F9;
  }
  .nemo-img {
    position: relative;
  }
  .nemo-img img {
    box-shadow: -30px 35px 2px 1px #86E0F9;
  }
  .locations-svg {
    margin-top: 30px;
  }
  .this-month-img {
    width: 80%;
  }
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
  .gallery-container {
    flex-direction: row;
  }
  .gallery-one, .gallery-two, .gallery-three {
    margin: 30px 0px 30px 0px;
  }
  .carousel {
    display: none;
  }
}
@media (min-width: 1024px) {
  .flex-start-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-end-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  header {
    height: 80vh;
  }
  .desktop-nav-bar ul {
    margin-right: 8%;
  }
  h1 {
    font-size: 6.9rem;
    line-height: 126px;
    margin-top: 10%;
  }
  .pop-out-header {
    top: 300px;
    right: -180px;
  }
  .pop-out-header img {
    width: 80%;
  }
  .what-is h2 {
    margin-top: 150px;
  }
  .new-and-feature-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .new-and-feature-container h3 {
    margin-top: 0%;
  }
  .new-and-feature-container .read-more {
    margin-bottom: 5%;
  }
  .new-and-feature-img img {
    box-shadow: 30px 35px 2px 1px #86E0F9;
    position: absolute;
    top: -216px;
    left: -102px;
  }
  .nemo-img {
    grid-row: 2;
    grid-column: 2;
  }
  .nemo-img img {
    box-shadow: -30px 35px 2px 1px #86E0F9;
    position: absolute;
    top: -97px;
    right: -102px;
  }
  .info-links-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .community-svg {
    margin-top: 30px;
  }
  .banner {
    background-image: url(../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
  .desktop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }
  .desktop-container .this-month-right {
    grid-column: span 2;
  }
  .this-month-img img {
    top: 0px;
    right: 10px;
  }
  .this-month h2 {
    margin-bottom: 0px;
  }
  .gallery-container img {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  header {
    height: 60vh;
  }
  h1 {
    margin-top: 5%;
  }
  .pop-out-header {
    top: 120px;
    right: -180px;
  }
  .what-is .find-out-more {
    margin-bottom: 90px;
  }
  .new-and-feature h3 {
    margin-top: 5%;
  }
  .new-and-feature-img img {
    top: -214px;
    left: -120px;
  }
  .nemo-img img {
    top: -144px;
    right: -120px;
  }
  .blue-block-two {
    top: 80px;
    left: 80px;
  }
  .info-links-container {
    margin-left: 13%;
  }
  .desktop-info-links {
    flex-direction: row;
    position: relative;
  }
  .desktop-info-links h3 {
    text-align: left;
  }
  .locations-svg, .community-svg {
    margin-top: 0px;
  }
  .locations, .community {
    margin-top: 100px;
    width: 90%;
  }
  .blog, .in-touch {
    width: 90%;
  }
  .locations-svg, .community-svg, .blog-svg, .in-touch-svg {
    margin-bottom: 100px;
    position: absolute;
    top: 25px;
    left: -60px;
  }
  .locations-svg, .community-svg {
    top: 75px;
  }
  .this-month-img img {
    right: 30px;
  }
}
@media (min-width: 1920px) {
  header {
    height: 70vh;
  }
  .desktop-nav-bar ul {
    margin-right: 15%;
  }
  .desktop-nav-bar li {
    margin-left: 50px;
    margin-right: 50px;
  }
  h1 {
    width: 13%;
    margin-left: 20%;
  }
  .pop-out-header {
    top: 90px;
    right: 0px;
  }
  .pop-out-header img {
    width: 100%;
  }
  .what-is h2 {
    margin-top: 200px;
  }
  .new-and-feature h3 {
    margin-top: 15%;
  }
  .new-and-feature-container .read-more {
    margin-bottom: 15%;
  }
  .new-and-feature-img {
    margin-bottom: -85px;
  }
  .new-and-feature-img img {
    top: -331px;
    left: -192px;
  }
  .nemo-img {
    margin-bottom: -30px;
  }
  .nemo-img img {
    top: -264px;
    right: -192px;
  }
  .locations-svg, .community-svg {
    margin-top: 100px;
  }
  .locations-svg, .community-svg {
    top: -20px;
  }
  .blog-svg {
    top: 10px;
  }
  .in-touch-svg {
    top: 25px;
  }
  .this-month-img img {
    width: 70%;
    right: -100px;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .gallery-container img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .blog-header {
    background-image: url(../../assets/blog-header.jpg);
    background-repeat: no-repeat;
    height: 30vh;
  }
  .blog-header h1 {
    margin-top: 11%;
    margin-left: 29%;
    font-size: 2rem;
  }
  .mobile-side-blog-img, .mobile-blog-post-img {
    display: none;
  }
  .post-header-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: -25%;
  }
  .side-blog-img {
    position: relative;
    transform: translate(-76px, 80px);
  }
  .side-blog-img img {
    position: relative;
    z-index: 10;
  }
  .green-box {
    background-color: #0F614E;
    position: absolute;
    top: 30px;
    left: 70px;
    height: 63vh;
    width: 100%;
  }
  .blog-post-img {
    grid-column: span 2;
    transform: translate(26px, -83px);
  }
  .blog-post-img img {
    width: 113%;
    box-shadow: -12px 12px 0px 1px #86E0F9;
  }
  .article-blog {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 10%;
  }
  .left-article {
    margin-top: 15%;
    position: relative;
    z-index: 10;
  }
  .left-article h3 {
    margin-left: 0%;
    text-align: left;
    font-size: 0.992rem;
  }
  .left-article ul {
    padding-left: 7%;
  }
  .left-article p, .left-article li {
    margin-left: 0%;
    text-align: left;
    font-size: 0.8rem;
  }
  .right-blog {
    margin-top: 0%;
  }
  .right-blog h2 {
    margin-top: 10%;
  }
  .article-about, .recent-posts {
    border: none;
  }
  .blog-border {
    border-left: 5px solid #86E0F9;
    border-bottom: 5px solid #86E0F9;
  }
  .comments {
    margin-top: 5%;
    border: none;
    display: grid;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  .spacing {
    grid-column: 2;
  }
  .add-comment {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media (min-width: 1024px) {
  .blog-header {
    height: 36vh;
  }
  .blog-header h1 {
    margin-top: 12%;
    margin-left: 28%;
  }
  .side-blog-img {
    transform: translate(-102px, 80px);
  }
  .blog-post-img {
    transform: translate(25px, -89px);
  }
  .blog-post-img img {
    width: 114%;
    box-shadow: -24px 20px 0px 1px #86E0F9;
  }
  .article-blog {
    gap: 0rem;
  }
  .left-article {
    margin-top: 0%;
    transform: translate(-20px, 0px);
  }
  .right-blog {
    margin-top: 5%;
  }
  .right-blog .blog-format-mobile {
    display: none;
  }
  .right-blog .blog-format-desktop {
    display: block;
    margin-left: 5%;
  }
  .right-blog h2 {
    font-size: 1.995rem;
  }
  .right-blog .author {
    text-align: left;
    margin-top: -10%;
    margin-left: 5%;
  }
  .comments {
    margin-bottom: -5%;
  }
  .comments h3 {
    text-align: left;
    margin-bottom: 10%;
  }
  .comment-one, .comment-two {
    display: flex;
    flex-direction: row;
  }
  .comment-one .commentor-img, .comment-two .commentor-img {
    width: 20%;
    transform: translate(-20px, -60px);
  }
  .desktop-comment {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .desktop-comment .commentor {
    text-align: left;
    margin-bottom: 0%;
  }
  .user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .blog-header {
    background-size: cover;
    height: 42vh;
  }
  .blog-header h1 {
    margin-left: 36%;
  }
  .side-blog-img {
    transform: translate(-120px, 80px);
  }
  .green-box {
    width: 85%;
  }
  .blog-post-img {
    transform: translate(121px, -125px);
  }
  .blog-post-img img {
    width: 100%;
    box-shadow: -30px 30px 0px 1px #86E0F9;
  }
  .article-blog {
    grid-template-columns: 1fr 0.5fr 2.5fr;
    gap: 2rem;
  }
  .right-blog {
    grid-column: 3;
  }
}
@media (min-width: 1920px) {
  .blog-header {
    height: 67vh;
  }
  .blog-header h1 {
    font-size: 4rem;
    margin-top: 11%;
    margin-left: 43%;
  }
  .side-blog-img {
    transform: translate(-190px, 160px);
  }
  .green-box {
    height: 93vh;
    left: 130px;
  }
  .blog-post-img {
    transform: translate(144px, -258px);
  }
  .blog-post-img img {
    width: 105%;
  }
  .article-blog {
    margin-top: 8%;
  }
  .left-article {
    margin-top: 50%;
  }
  .left-article h3 {
    font-size: 1.491rem;
  }
  .left-article p, .left-article li {
    font-size: 1rem;
  }
  .right-blog h2 {
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
  }
  .right-blog .author {
    margin-top: -5%;
    margin-bottom: 5%;
  }
  .comments {
    grid-template-columns: 1fr 0.5fr 2.5fr;
    gap: 2rem;
    margin-top: 2%;
  }
  .comments h3 {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .spacing {
    grid-column: 3;
  }
  .comment-one, .comment-two {
    margin-left: 7%;
  }
  .comment-one .commentor-img, .comment-two .commentor-img {
    width: 10%;
    transform: translate(-15px, -35px);
  }
  .add-comment {
    grid-template-columns: 1fr 0.5fr 2.5fr;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .contact-header {
    background-image: url(../../assets/contact-header.jpg);
  }
  .contact-body {
    margin-top: 15%;
  }
  #contact {
    border: none;
  }
  .contact-form {
    background-color: #0F614E;
    padding: 1%;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .contact-form #user-name, .contact-form #user-email, .contact-form #user-message {
    background-color: #0F614E;
  }
}
@media (min-width: 1024px) {
  .contact-header {
    height: 60vh;
  }
  .contact-body {
    margin-top: 10%;
  }
  .contact-form {
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: -25px 30px 2px 1px #86E0F9;
  }
}
@media (min-width: 1200px) {
  .contact-header {
    height: 40vh;
  }
  .contact-header h1 {
    font-size: 3.003rem;
    margin-left: 38%;
    width: 100%;
    text-align: left;
  }
  .contact-body {
    display: flex;
    margin-top: 10%;
    margin-bottom: 0%;
  }
  .contact-desktop-styling {
    width: 30%;
  }
  .social-links {
    margin-left: -21%;
  }
  .social-links img {
    width: 1.2rem;
  }
  #contact h2, #contact p {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: left;
  }
  .contact-form {
    width: 70%;
    transform: translate(50px, -360px);
  }
}
@media (min-width: 1920px) {
  .contact-header {
    height: 65vh;
  }
  .contact-header h1 {
    margin-top: 15%;
    margin-left: 37%;
  }
  .social-links {
    width: 50%;
    margin-left: -7%;
  }
  .contact-form {
    transform: translate(50px, -500px);
  }
}
html {
  font-size: 125%;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */